---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title=Welcome Mama! description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome Mama!</h1>
			<p>
				Welcome to Mama's best helper. This website is to help as you take care of your baby and their needs. 
			</p>
		<section class="hero">
      		<h1>Welcome to the Astro Inspiration Hub</h1>
      		<button>Join Us or Sign In</button>
    	</section>

		
    <section class="section-buttons">
      <a href="/tips" class="section-button">Tips of the Day</a>
	  <a href="/music" class="section-button">Music</a>
 	  <a href="/videos" class="section-button">Videos</a>
  	  <a href="/books" class="section-button">Books</a>
    </section>
		</main>
		<Footer />
	</body>
</html>
